

h1{
	color: #429;
	text-align: center;
	font-family: "Georgia", Serif;
	font-size: 54px;
}

body{
	text-align: center;
	color: #68c;
	font-size: 20px;
	border-style: double;
	border-color: #429;
	margin: 20px;
}

img{
	border-style: solid;
	border-color: #b28;
	border-width: 6px;
}

a{
	color: #4dd;
}

/*div{
	background-color: #f46;
	height: 30px;
	display: inline-block;
	margin: 5px;
}*/


div:hover{
	//background-color: #429;
	color: #429;
}

#jumbo:hover{
	color: #46d;
}

#ImpactTeam{
    	width:150px;

}

#pics{
    	width: 90px;	
}

#facebook {
      width:160px;
}

li:a:hover{
	background-color: #429;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.center{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
